# Don't commit front-end files in /public folder
/public/helpers.js
/public/proposal.pdf
/public/store.js
/public/styles.css
/public/wireframe.pdf
/public/contact_page.html

/public/index.html
/public/products.html
/public/random.html
/public/faq.html
/public/contact.html

/public/jewelryStore.js
/public/randomJewelry.js
/public/helpers.js
/public/faq.js
/public/contact.js

/node_modules

public/.DS_Store
public/img/.DS_Store
public/img/earrings/.DS_Store
public/img/necklaces/.DS_Store
public/img/rings/.DS_Store