# Don't commit front-end files in /public folder
/public/helpers.js
/public/proposal.pdf
/public/store.js
/public/styles.css
/public/wireframe.pdf
/public/index.html

/node_modules

public/.DS_Store
public/img/.DS_Store